body {
    font-family: Tahoma, Verdana, Helvetica, sans;
    font-size: 16px;
    line-height: 20px;
    color: #333;
}

p {
    margin-bottom: 20px;
}

a, a:visited, a:hover, a:active, a:focus {
    color: #333;
    text-decoration: none;
}

.page-wrapper {
    margin: 80px auto;
    max-width: 500px;
    width: 90%;
}

.form-label {
    display: block;
    margin-bottom: 6px;
}

.button, .text-field {
    font-size: 16px;
    padding: 8px 12px;
    border: 1px solid #777;
    border-radius: 2px;
}

.text-field {
    max-width: 500px;
    width: 100%;
    border: 1px solid #777;
    border-radius: 2px;
}

.button {
    background-color: #fff;
    cursor: pointer;
    transition: background-color 200ms ease;
}

.button:hover {
    background-color: #ccc;
    transition: background-color 300ms ease;
}

.error {
    color: crimson;
}